.price_by_night {
    color: #ff5a5f;
    border: solid#ff5a5f 4px;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    float: right;
    border-radius: 60px;
    margin-top: -60px;
    padding: 0;
    display: flex;
    align-items: center;


}

.information {
    height: 80px;
    border-top: solid#DDDDDD 1px;
    border-bottom: solid#DDDDDD 1px;
    display: flex;
    align-items: center;
    margin: 10px;
}

.max_guest,
.number_rooms,
.number_bathrooms {
    width: 100px;
    padding: 0;
    margin: 0;
    display: flex;
    text-align: center;


}

.max_guest img {
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
}

.number_rooms img {
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;

}

.number_bathrooms img {
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    display: block;
}

.information h4 {
    font-size: small;
    margin: 0;
    display: flex;
}

.user {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.user span {
    margin: 5px;
}

.description {
    margin-top: 10px;
}

.description p {
    font-size: 12px;
    padding-right: 10px;
    margin-top: -15px;
    text-align: left;

}

article {

    width: 50%;
    height: 300px;
    float: left
}



article h2 {
    height: 50px;
    text-align: center;

}

ul {
    list-style-type: none;
}